DB_HOST=localhost
DB_NAME=wgstats
DB_USER=wg
DB_PASS=wgpass

INTERVAL=60

XRAY_API=127.0.0.1:62789
XRAY_BIN=/usr/local/x-ui/bin/xray-linux-amd64

WG_CONTAINER=amnezia-awg2
WG_INTERFACE=awg0
WG_CLIENTS_PATH=/opt/amnezia/awg/clientsTable